.grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  height: 650px;
  width: 78vw;
  overflow-y: auto;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background: #888; 
}

 
.card-container{
    background-color: black;
    color: white;
    display: flex;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    animation: fadeIn .3s ease-in-out;
}

.layout-cards {
    border: 2px solid #ffffff8c;
    background-color:grey;
    display: flex;
    width: 35vw;
    height: 300px;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
    transition: all .3s linear;
  }
  
  .layout-cards>p {
    border-radius: 5px;
    background-color: black;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  
  .layout-dragging {
    background: grey;
    border: 2px dashed #ffffff8c;
  }

