.app{
  width:100vw;
  height:100vh;
  display: flex;
}
.sidebarContainer{
  display: block;
  height: 100vh;
}
.screenContainer{
  height: 100vh;
  width: 100%;
}
.login{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginTitle{
  font-size: 25px;
  font-weight: bolder;
  color: white;
}
.loginContainer{
  width: 400px;
  height: 400px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.emailContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.emailContainer input{
  height: 30px;
  width: 300px;
  padding: 5px;
  outline: none;
  border: 0;
}
.emailContainer p{
  color: white;
}
.passwordContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.passwordContainer p{
  color: white;
}
.passwordContainer input{
  height: 30px;
  width: 300px;
  padding: 5px;
  outline: none;
  border: 0;
}

.loginContainer button{
  padding: 0;
  margin: 0;
  height: 40px;
  width: 100px;
  color: black;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: 0;
  font-weight: bold;
}