.HomePage{
    background-color: black;
    display: flex;
    height: 100vh;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
}
.sidebar{
    width: 20vw;
    background-color: grey;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
}
.Sideheader{
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid white;
    gap: 10px;
}
.sidebar p{
    font-weight: bold;
    font-size: 25px;
    color: white;
}
.Menuicon{
    height: 30px;
    width: 30px;
    cursor: pointer;
    color: white;
}
.HomeBody{
    width: 100%;
    height: 100%;
}
.bodyHeader{
    height: 30px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
}
.HomeMainBody{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.HomeMainBodyContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.homeBoxes{
    display: flex;
    gap: 20px;
}
.boxes{
    height: 70px;
    width: 150px;
    background-color: grey;
    border-radius: 10px;
}